* {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("./../img/imagenNnav.jpg") no-repeat center center/cover;
  padding: 10px 20px;
  position: relative;
  background-color: #ffffff;
}

#buttonAdminPerfil {
  display: none;
}

.logo {
  width: 100px;
}

.navbar-nav {
  justify-content: flex-end;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

.navbar-toggler {
  border: none;
  background: none;
}

.auth-btn {
  background-color: rgb(54, 36, 189);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.auth-btn:hover {
  background-color: #3f3d7d;
}

.hero {
  text-align: center;
  background-image: url("./../img/principalFondo.png");
  background-size: cover;
  background-position: center;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 73vh;
  color: #ffffff;
  position: relative;
}

.hero h1 {
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.hero .reserva-btn {
  background-color: rgb(209, 55, 55);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.hero .reserva-btn:hover {
  background-color: darkred;
}

main {
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

footer {
  background-color: #efeeee;
  color: #000000;
  text-align: right;
  padding: 20px;
  left: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content a {
  color: #000000;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-content p {
  margin-right: 20px;
}

.footer-content img {
  width: 30px;
  margin-right: 10px;
}

.intro {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #e8cccc;
}

.intro .text,
.intro .image {
  width: 100%;
}

.intro img {
  max-width: 100%;
  height: auto;
}

.history {
  color: #000000;
  padding: 20px;
  text-align: center;
  background-color: #e8dddd;
}

.history img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.services {
  background-color: #e8eeee;
  color: #000000;
  padding: 20px;
}

.service-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-grid div {
  width: 100%;
  margin-bottom: 20px;
}

.service-grid img {
  max-width: 100%;
  height: auto;
}
.galeria {
  color: #000000;
  padding: 20px;
  background-color: #e8ffff;
}

.galeria .carousel-inner img {
  max-width: 100%;
  height: auto;
}
footer img {
  width: 30px;
  margin: 5px;
}

@media (min-width: 768px) {
  .intro {
    flex-direction: row;
    text-align: left;
  }

  .intro .text,
  .intro .image {
    width: 50%;
  }

  .history {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .history-text {
    width: 50%;
    padding: 20px;
  }

  .history img {
    width: 50%;
    height: auto;
    margin-top: 0;
  }

  .service-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .service-grid div {
    width: 45%;
  }

  .galeria .carousel-inner img {
    max-width: 70%;
  }
}

/* Media queries para dispositivos móviles */
@media (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .auth-btn {
    width: 100%;
    margin: 5px 0;
  }

  .intro {
    padding: 10px;
  }

  .history {
    padding: 10px;
  }

  .history-text,
  .history img {
    width: 100%;
  }

  .services {
    padding: 10px;
  }

  .service-grid div {
    width: 100%;
    margin-bottom: 10px;
  }

  .galeria {
    padding: 10px;
  }

  .galeria .carousel-inner img {
    width: 100%;
  }

  footer {
    padding: 10px;
  }

  footer img {
    width: 25px;
  }
}

.cargaContenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  image-rendering: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.cargaContenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.carousel-item img {
  image-rendering: auto;
}

.productos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto;
  max-width: 640px;
  max-height: 480px;
}

.card {
  min-height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productos {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.productos h2 {
  color: #ff8888;
}

.productos p {
  color: #333;
  font-size: 1.2em;
}
.productos .card {
  text-align: center;
}

.productos .card {
  height: 100%;
}

.ofertas {
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.ofertas h2 {
  color: #ff5722;
}

.ofertas p {
  color: #333;
  font-size: 1.2em;
}
.ofertas .card {
  text-align: center;
}

.btn-mas-informacion {
  display: block;
  margin: 20px auto 0 auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.btn-mas-informacion:hover {
  background-color: #0056b3;
}

.container-form-perfil {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-form-perfil h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}

.container-input {
  margin-bottom: 15px;
}

.container-input input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

.container-input input:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 10px 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

.button:last-child {
  background-color: #ff0000;
}

.button:last-child:hover {
  background-color: #010fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #fff;
  text-align: center;
}

.container h2 {
  color: #ff5722;
}

.container p {
  color: #333;
  font-size: 1.2em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.container-form-perfil {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container-perfil {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contaier-datos {
  margin-top: 20px;
}

.container-datos p {
  font-size: 16px;
  margin-bottom: 10px;
}

.container-datos p strong {
  font-weight: bold;
}

.container-datos p span {
  color: #555555;
}
.sign-up,
.sign-in {
  margin-top: 20px;
  color: #000000;
  text-align: center;
}
.modal {
  color: #4d0808;
}

#buttonCerrarSesion {
  background-color: rgb(30, 5, 5);
  display: none;
}

#ofertasDropdown,
#trabajadoresDropdown,
#detalles,
#mensajeError {
  display: none;
}
#mensajeError {
  color: #000000;
  text-align: center;
}
